

.root {
  margin: 0;
  top: 0;
  left: 0;
  background: #ffcad4;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all linear;
}

.dimmed {
  background: #99797F;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 12;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 48px;
  height: 34px;
}

.button {
  cursor: pointer;
  background: #F88379;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px;
  width: 80px;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.label {
  font-family: "Xristos";
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
}

.button:hover {
  background: #FF6961;
}

.animated  {
  position: relative;
}

.fireworks {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}